apiVersion: v1
kind: Namespace
metadata:
  name: web-app
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-app
  namespace: web-app
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1        # One extra pod allowed during update
      maxUnavailable: 1  # One pod can be down during update
  selector:
    matchLabels:
      app: web-app
  template:
    metadata:
      labels:
        app: web-app
    spec:
      containers:
        - name: web-app
          image: tktucker/web-app:v5
          ports:
            - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: web-app
  namespace: web-app
spec:
  type: NodePort
  selector:
    app: web-app
  ports:
    - name: http
      port: 5000
      targetPort: 5000
      nodePort: 31212
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: web-app-manual
  namespace: web-app
  labels:
    kubernetes.io/service-name: web-app
addressType: IPv4
ports:
  - name: http
    protocol: TCP
    port: 5000
endpoints:
  - addresses:
      - "10.244.0.30"
  - addresses:
      - "10.244.0.31"

